@font-face {
	font-family: "SF Display";
	src: url("SF-Pro-Display-Regular.otf");
}

@font-face {
	font-family: "Fira Code";
	src: url("FiraCode-Regular.otf");
}

body#tm_webpreview_body.nightpatrol {
	font-family: "SF Display";
	font-size: 13px;
	color: rgb(204, 204, 204);
	background: rgb(28, 28, 28);
}



body#tm_webpreview_body.nightpatrol div#tm_webpreview_header {
	color: rgb(237, 237, 237);
	background: rgb(22, 22, 22);
	border-bottom: 1px solid rgb(40, 40, 40);
}
body#tm_webpreview_body.nightpatrol div#tm_webpreview_header img {
	display: none;
}



body#tm_webpreview_body.nightpatrol div#tm_webpreview_content {
	margin: 0;
	padding: 2em;
	color: rgb(83, 83, 83);
}

body#tm_webpreview_body.nightpatrol div#tm_webpreview_content a {
	text-decoration: underline;
	color: rgb(0, 133, 227);
}
body#tm_webpreview_body.nightpatrol div#tm_webpreview_content div.controls a {
	color: rgb(83, 83, 83);
}

body#tm_webpreview_body.nightpatrol div#tm_webpreview_content pre {
	padding: 0;
	color: rgb(238, 238, 238);
}
body#tm_webpreview_body.nightpatrol div#tm_webpreview_content pre div#_executor_output {
	padding: 1em;
	font-family: "Fira Code", "Menlo", "Monaco", monospace;
	font-size: 13px;
	line-height: 1.35;
	background: rgb(24, 24, 24);
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px 0px;
	border-radius: 4px;

}

/*copied*/

/*#tm_webpreview_body.nightpatrol {
	background: #000;
	color: #E6E2E8;
}
#tm_webpreview_body.nightpatrol a {
	color: #BBE;
}

#tm_webpreview_body.nightpatrol h1 {
	color: #FFF;
	text-shadow: #808080 3px 3px 5px;
}

#tm_webpreview_body.nightpatrol h2 {
	text-shadow: #808080 3px 3px 5px;
}

#tm_webpreview_body.nightpatrol h3 {
	text-shadow: #808080 3px 3px 5px;
}

#tm_webpreview_body.nightpatrol blockquote {
	border-left: 4px solid #808080;
	color: #FFF;
}

#tm_webpreview_body.nightpatrol code {
	color: #C1DE77;
}

#tm_webpreview_body.nightpatrol pre {
	color: #FFF;
	background-color: #111;
	border: 1px solid #555;
}

#tm_webpreview_body.nightpatrol kbd {
	background-color: #3d3f3f;
	color: #cbc8cd;
	border: 1px solid #55585a;
	box-shadow: inset 0 -1px 0 #525456;
}

#tm_webpreview_body.nightpatrol .pro_table {
	border-top: 1px solid #616465;
	border-left: 1px solid #616465;
}
#tm_webpreview_body.nightpatrol .pro_table th {
	background: #1C1C1C;
	border-bottom: 1px solid #616465;
	border-right: 1px solid #616465;
}
#tm_webpreview_body.nightpatrol .pro_table td {
	border-bottom: 1px solid #616465;
	border-right: 1px solid #616465;
}
#tm_webpreview_body.nightpatrol .footnote:before {
	color: #888;
}
#tm_webpreview_body.nightpatrol .footnote:after {
	color: #888;
}

#tm_webpreview_body.nightpatrol div.footnotes {
	background: #111;
}


#tm_webpreview_body.nightpatrol td,
#tm_webpreview_body.nightpatrol th {
	color: #EEE;
}

#tm_webpreview_body.nightpatrol caption,
#tm_webpreview_body.nightpatrol label {
	color: #CCC;
}

#tm_webpreview_body.nightpatrol .alternate {
	background-color: #111;
}
*/